{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    {% if profile %}
    <section class="section profile">
    <div class="row justify-content-center">
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->

              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Username</div>
                    <div class="col-lg-9 col-md-8">{{profile.user.username}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{profile.user.email}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone Number</div>
                    <div class="col-lg-9 col-md-8">{{profile.phone_number}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{profile.address}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Picture</div>
                    <div class="col-lg-9 col-md-8"><img style="max-width: 100px;max-height:100px" src="{{profile.profile_picture.url}}" alt=""></div>
                  </div>
                  <div class="row">
                    <a class="btn btn-danger" style="color: white;" href="{% url 'delete_profile' profile.slug %}">Delete Profile</a>
                  </div>
                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </div>
    </section>
    {% else %}
    <p>No profile found</p>
    {% endif %}

  </main><!-- End #main -->
{% endblock content %}