{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">
    <div class="col-12">
        <div class="card top-selling overflow-auto">
          <div class="card-body pb-0">
            {% if request.user.groups.all.0.name == "Admin" %}
            <h5 class="card-title d-flex justify-content-between align-items-center">
                All tasks
                <a href="{% url 'add_project' %}"  class="btn btn-success">Create Task</a>
            </h5>
            {% endif %}

            <table class="table table-borderless">
              <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Priority Level</th>
                    <th scope="col">Status</th>
                    <th scope="col">Project</th>
                    <th scope="col">More</th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                    <tr>
                      <td>{{task.title}}</td>
                      <td>{{task.due_date}}</td>
                      <td>{{task.priority_level}}</td>
                      <td>{{task.status}}</td>
                      <td>{{task.project}}</td>
                      <td><a href="{% url 'task_details' task.id %}" class="btn btn-secondary text-white"><i class="bi bi-three-dots"></i></a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
</main><!-- End #main -->
{% endblock content %}
