{% extends "base.html" %}
{% load static %}
{% block content %}
{% if request.user.groups.all|length > 0 %}
{% if request.user.groups.all.0.name == "Admin" %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">Projects <span> | Number</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{projects}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">Tasks <span>| Number</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-list-task"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{tasks_number}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->
          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Employees <span>| Number</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{users_number}}</h6>

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Projects</h5>
        
                    <!-- Pie Chart -->
                    <canvas id="pieChart" style="max-height: 400px;"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            async function fetchData() {
                                const response = await fetch('/project-status-data/');
                                const data = await response.json();
                                return data;
                            }
        
                            async function renderChart() {
                                const chartData = await fetchData();
                                const ctx = document.querySelector('#pieChart').getContext('2d');
                                new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: chartData.labels,
                                        datasets: [{
                                            label: 'Project Status',
                                            data: chartData.data,
                                            backgroundColor: chartData.backgroundColor,
                                            hoverOffset: 4
                                        }]
                                    }
                                });
                            }
        
                            renderChart();
                        });
                    </script>
                    <!-- End Pie Chart -->
        
                </div>
            </div>
        </div>
          <!-- End Reports -->


          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">Projects <span>| In Progress</span></h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">More</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for project in projects_in_progress %}
                    <tr>
                      <td>{{project.title}}</td>
                      <td>{{project.start_date}}</td>
                      <td>{{project.end_date}}</td>
                      <td><button class="btn btn-secondary"><a href="{% url 'project_details' project.id %}" class="bi bi-three-dots" style="color: white;"></a></button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Recent Activity -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Important Tasks <span>| Today</span></h5>

            <div class="activity">
              {% for task in important_tasks %}
              <div class="activity-item d-flex">
                <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                <div class="activity-content">
                  {{task.description}}
                </div>
              </div><!-- End activity item-->
              {% endfor %}
            </div>

          </div>
        </div><!-- End Recent Activity -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->
{% else %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="card-body">
                <h5 class="card-title">My Projects <span> | Number</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{projects}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="card-body">
                <h5 class="card-title">My Tasks <span>| Number</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-list-task"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{tasks_number}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Reports -->
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">My Tasks</h5>
        
                    <!-- Pie Chart -->
                    <canvas id="pieChart" style="max-height: 400px;"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            async function fetchData() {
                                const response = await fetch('/task-status-data/');
                                const data = await response.json();
                                return data;
                            }
        
                            async function renderChart() {
                                const chartData = await fetchData();
                                const ctx = document.querySelector('#pieChart').getContext('2d');
                                new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: chartData.labels,
                                        datasets: [{
                                            label: 'Task Status',
                                            data: chartData.data,
                                            backgroundColor: chartData.backgroundColor,
                                            hoverOffset: 4
                                        }]
                                    }
                                });
                            }
        
                            renderChart();
                        });
                    </script>
                    <!-- End Pie Chart -->
        
                </div>
            </div>
        </div>
          <!-- End Reports -->


          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="card-body pb-0">
                <h5 class="card-title">My Projects</h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Start Date</th>
                      <th scope="col">End Date</th>
                      <th scope="col">More</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for project in my_projects %}
                    <tr>
                      <td>{{project.title}}</td>
                      <td>{{project.start_date}}</td>
                      <td>{{project.end_date}}</td>
                      <td><button class="btn btn-secondary"><a style=" color:white" href="{% url 'project_details' project.id %}" class="bi bi-three-dots"></a></button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Top Selling -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- Recent Activity -->
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">My Tasks <span>| Today</span></h5>

            <div class="activity">
              {% for task in my_tasks %}
              <div class="activity-item d-flex">
                <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                <div class="activity-content">
                  {{task.description}} <span> | {{task.project}}</span>
                </div>
              </div><!-- End activity item-->
              {% endfor %}
            </div>

          </div>
        </div><!-- End Recent Activity -->

      </div><!-- End Right side columns -->

    </div>
  </section>

</main><!-- End #main -->
{% endif %}
{% else %}
<p>User is not in any group</p>
{% endif %}
{% endblock content %}

